<h3 class="text-center">Edit Your Story</h3>

<hr>

<%= form_with model: @comment, :url => update_path, :class => "story-form" do |f| %>
    <div class="form-group">
        <%= f.label :content, "Story" %>
        <%= f.text_field :content, :required => true, class: 'form-control' %>
    </div>
    
    <%= f.hidden_field :lat %>

    <%= f.hidden_field :lng %>

    <%= f.submit 'Change', :class => 'btn btn-primary text' %>
    <%= button_to "Delete", destroy_path(@comment), :class => 'btn btn-danger', :method => 'delete' %>
<% end %>