
<%= form_with model: @comment, :class => "story-form" do |f| %>
    <div class="form-group">
        <%= f.label :content, "Leave your comments here" %>
        <%= f.text_field :content %>
    </div>
    
    <%= f.hidden_field :lat %>

    <%= f.hidden_field :lng %>

    <%= f.submit  %>
<% end %>