// Remove side form after user submit, and add a slide out animation to this form
$('.side-form').empty();
$('.map-area').animate({'width': '100%'}, 300);
$('.side-form').animate({'width': '0%'}, 300)

// Change marker's popup content after editing
let popupContent = markers[<%= @comment.id %>]._popup.getContent();
markers[<%= @comment.id %>].bindPopup(`<p>${popupContent}</p><p><%= @comment.content %></p><p>edited by <%= @current_user.email %></p><%= link_to 'Edit', edit_comment_path(@comment), remote: true %>`)