<!DOCTYPE html>
<html>
  <head>
    <title>Storymap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= "Current user is #{@current_user.email}" if @current_user.present? %></h2>
    <nav>
      <% if @current_user.present? %>
        <%= link_to 'Users', admin_path if @current_user.admin? %>
        <%= link_to 'Sign Out', login_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Sign up", signup_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
